@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Be Vietnam Pro';
}
.gird{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}
.tittle{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.tittle span{
  color: burlywood;
}
.container-img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease;
  opacity: 60%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container-img:hover{
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
.modal{
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}
.modal-img{
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  animation: zoom 0.5s ease;
}
.close{
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.close:hover{
  color: red;
  transform: scale(1.5);
}
@keyframes zoom{
  from { transform: scale(0)}
  to { transform: scale(1)}
}
@media (max-width:767px){
  .container{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .tittle{
    font-size: 30px;
  }
  .container-img{
    height: 250px;
  }
}